.Home {
    display: flex;
    padding: 2rem 2rem 0;
    background: rgba(248, 248, 248, 0.377);
    justify-content: center;
    min-height: 0;
    flex: 1;
    overflow: auto;
}

.main_wrapper {
    display: flex;
    flex-flow: column;
    flex: 1;

    &.posts {
        max-width: 40rem;
        margin-right: 2rem;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &.side {
        flex: unset;
        min-width: 20rem;
        position: sticky;
        top: 0;

        > * {
            margin-bottom: 1rem;
            padding-top: 1rem;
        }

    }
}



.see_all_btn {
    padding: 0.5rem;
    box-shadow: 0 0 2px cadetblue;
}



.follow_btn {
    padding: 0.5rem;
    box-shadow: 0 0 2px cadetblue;
}

.posts_section {
    border-radius: 5px;

    >* {
        margin-bottom: 3rem;
    }
}
